[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
Practice/Practice.opensdf
Practice/Practice.sdf
Practice/Practice.v11.suo
Practice/Practice.v12.suo
Practice/Practice/Practice.vcxproj
Practice/Practice/Practice.vcxproj.filters
Practice/Practice/Practice.vcxproj.user
Practice/Practice.sdf
